 .u-section-1 {
  min-height: 727px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 727px;
  background-image: url("images/-min.jpg");
  background-position: 73.19% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 95px 70px 30px 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  margin: 0 0 0 440px;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 20px 0 0 379px;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0 20px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  font-size: 0.875rem;
  margin: 28px 0 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 727px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 45px 50px;
}

.u-section-1 .u-text-4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 6rem;
  line-height: 0.8;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: 300;
  font-style: italic;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 599px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 599px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 257px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 257px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 599px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 459px;
  }

  .u-section-1 .u-image-1 {
    min-height: 438px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 132px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
    margin-left: 157px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 559px;
  }

  .u-section-1 .u-image-1 {
    min-height: 458px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 389px;
  }

  .u-section-1 .u-image-1 {
    min-height: 401px;
    background-position: 28.08% 50%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 4.5rem;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(41,46,51,0.6), rgba(41,46,51,0.6)), url("images/tfgy-min.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 894px;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 202px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-family: Lato, sans-serif;
  text-shadow: 2px 2px 8px rgba(66,84,101,0.4);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 85px 0;
}

.u-section-2 .u-line-1 {
  width: 912px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: 300;
  width: 839px;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 22px auto 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: 2px;
  font-size: 1rem;
  width: 409px;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 31px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-social-icons-1 {
  height: 34px;
  min-height: 16px;
  width: 252px;
  min-width: 160px;
  white-space: nowrap;
  margin: 237px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  background-image: none;
  margin: -183px auto 0;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 861px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-1 {
    width: 250px;
  }

  .u-section-2 .u-btn-3 {
    align-self: center;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
    font-size: 3.4375rem;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 915px;
  }

  .u-section-2 .u-image-1 {
    height: 160px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-2 .u-image-1 {
    height: 138px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
} .u-section-3 {
  background-image: url("images/blouse-2597205-scaled.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 685px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 184px auto 60px -37px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 137px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 319px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 233px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 404px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 249px;
    font-size: 1.5rem;
  }
}